body {
    font-family: Arial, sans-serif;
    background-image: url('/photos/wildwest.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .quiz-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(245, 245, 220, 0.822);
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .options {
    margin-bottom: 20px;
  }
  
  .options button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .options button:hover {
    background-color: #3e8e41;
  }
  
  .result {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .warning {
    font-size: 24px;
    font-weight: bold;
    color: #f44336;
  }